<navbar></navbar>
<div class="container">
<h2>Sticker packs to approve</h2>
<div class="col-lg-9">
	<ul class="list-group packs-list">
		<li class="list-group-item pack-list" ng-repeat="pack in admin.stickerPacks">
			<div class="form-group clearfix">
				<h4 class="pull-left">Pack Name: {{pack.name}}</h4>
				<div class="pack-action-btns pull-right">
					<button class="btn btn-primary" ng-disabled="pack.approved" ng-click="admin.approveStickerPack(pack)">Approve</button>
					<button class="btn btn-primary btn-danger" ng-disabled="pack.rejected" ng-click="admin.rejectStickerPack(pack)">Reject</button>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 form-group">
					<label class="key">Category: </label><label class="val">{{pack.cat}}</label>
				</div>
				<div class="col-lg-6 form-group" ng-if="pack.cat==='date'">
					<label class="key">Time:  span</label><label class="val">From: {{pack.lifespan.from}} To: {{pack.lifespan.to}}</label>
				</div>
				<div class="col-lg-6 form-group" ng-if="pack.cat==='location'">
					<label class="key">Location: </label><label class="val">{{pack.location.lat}}, {{pack.location.long}}</label>
				</div>
				<div class="col-lg-6 form-group" ng-if="pack.cat==='event'">
					<label class="key">For Event:</label><label class="val">{{pack.events[0]}}</label>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 form-group">
					<label class="key">Description: </label><label class="val">{{pack.desc}}</label>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 form-group tags-list">
					<label class="key">Tags: </label><label class="val" ng-repeat="tag in pack.tags">{{tag}}</label>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 form-group">
					<ul class="list-group user-list clearfix">
						<li class="list-group-item sticker-list" ng-repeat="sticker in pack.stickers">
							<img src="http://172.16.2.20:3000{{pack.path}}{{sticker}}" alt="" class="sticker">
						</li>
					</ul>
				</div>
			</div>
		</li>
	</ul>
</div>
</div>
